body {
    background-image: url("http://fc04.deviantart.net/fs31/i/2008/190/f/5/Tech_Desktop__by_OverDose544.jpg");
}
.clear-background {
    background: #fff;
}
.footer-color {
    background: #222;
    height: 54px;
    border-color: #101010;
}
.navbar {
    margin-bottom: 0px;
}
.footer-text {
    padding-top: 16px;
}
.sponsor-header {
    padding-left: 15px;
}
.contact-item-img {
	max-height: 150px;
}