body {
    background-image: url("media/background.jpg");
}
.clear-background {
    background: white;
}
.footer-color {
    background: #fff;
    height: 54px;
    border-color: #101010;
}
.navbar {
    margin-bottom: 0px;
}
.footer-text {
    padding-top: 16px;
}
.sponsor-header {
    padding-left: 15px;
}
.contact-item-img {
	max-height: 150px;
}
.no-border{
	padding: 4px !important;
	border-top: 0px !important;
}