body {
    background-image: url("media/background.jpg");
}
.clear-background {
    background: white;
}
.footer-color {
    background: #222;
    height: 54px;
    border-color: #101010;
}
.navbar {
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer-text {
    padding-top: 16px;
}
.sponsor-header {
    padding-left: 15px;
}
.contact-item-img {
	max-height: 150px;
}
.logo {
    padding-top: 20px;
    padding-bottom: 20px;
}
.rounded-top {
    margin-top: -2px;
    margin-bottom: -1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}